<h1>
    Gamemasters
    <%= user_signed_in? && policy(Gamemaster).new? ? link_to('New Gamemaster', new_gamemaster_path, class: "btn btn-primary") : '' %>
</h1>

<% @gamemasters.each do |gamemaster| %>
  <p>
    <%= cl_image_tag(gamemaster.profilepic.key, :height=>100, :width=>150, crop: :limit, cloud_name: 'macreadiebri') if gamemaster.profilepic.attached? %>
    <%= link_to gamemaster.name, gamemaster %>
  </p>
<% end %>
