<h1>
    Games
    <%= user_signed_in? ? link_to('New Game', new_game_path, class: "btn btn-primary") : '' %>
</h1>

<% @games.each do |game| %>
    <p>
        <%= link_to game.name, game %>
    </p>
<% end %>
