<h1>
    Games
    <%= user_signed_in? && policy(Game).new? ? link_to('New Game', new_game_path, class: "btn btn-primary") : '' %>
</h1>

<% @games.each do |game| %>
    <p>
        <%= cl_image_tag game.cover.key, :height=>100, :width=>150, crop: :limit, cloud_name: 'macreadiebri' %>
        <%= link_to game.name, game %>
    </p>
<% end %>
